@model List<oslomet_film.Model.CartItem>

@foreach(var item in Model)
{
<div>
    <p>@item.Movie.Title</p>
    <p>@item.Price</p>
</div>

<a class="btn btn-block" href="@Html.Action("CreateOrder", "Cart")">Create Order</a>
}

