@model oslomet_film.Model.MovieHelper

@Html.Partial("../Shared/AdminSideMenu")

<div class="row">
    <div class="col col-lg-12">
        <h1> 
            Admin panel 
        </h1>
    </div>
</div>