@model List<gruppeoppgave_acm.Models.Category>

<div class="row">
    <div class="col col-lg-12">
        <ul class="category-navigation">
            <li class="link--category">
                <h4 class="text--white">
                    Alle
                </h4>
            </lilink--category>

            @foreach (var category in Model)
            {
                <li class="link--category" style="padding-left: 30px;">
                    <h4 class="text--white">
                        @category.Name
                    </h4>
                </li>
            }
        </ul>
    </div>
</div>
