
@{
    ViewBag.Title = "Login";
}


<div class="row">
    <div class="col col-lg-offset-4 col-lg-4">
        <div class="row" style="background-color: #fff">
            <div class="col col-lg-10 col-lg-offset-1">
                <h2>
                    Login
                </h2>
                <form>
                    <p>
                        E-post: <br />
                        <input type="email" class="input-sm" style="width: 100%" />
                    </p>
                    <p>
                        Passord: <br />
                        <input type="password" class="input-sm" style="width: 100%" />
                    </p>

                    <input type="submit" value="Login" class="btn-success" />
                </form>
            </div>
        </div>
    </div>
</div>

