@model oslomet_film.Model.Customer
@{
    /**/

    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

@{ 
    Html.RenderAction("EditUser", new { id = Session["customerID"] });
}

@{ 
    Html.RenderAction("EditPassword", new { id = Session["customerID"] });
}


<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>



