@model gruppeoppgave_acm.Models.MoviesView
@{
    ViewBag.Title = "Index";
}
<div>

    @Html.Partial("../Movie/Categories", Model.Categories)

    <div class="row">
        @foreach (var movie in Model.Movies)
        {
            @Html.Partial("../Movie/MoviePartial", movie)
        }
        </div>
</div>

